src/main/resources/apis.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="apis" type="apisType"/>
    <xsd:complexType name="apisType">
        <xsd:sequence>
            <xsd:element name="api" type="apiType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="apiType">
        <xsd:sequence>
            <xsd:element name="class" type="xsd:string"/>
            <xsd:element name="method" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="path" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>